.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.list-group-item {
  display: flex;
}

#mytodo {
  display: flex;
  width: 400px;
  justify-content: center;
}

.list-of-todos {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.btn {
  margin: 5px;
}

.todo {
  display: flex;
  align-items: center;
  width: 400px;
}

.todo-input {
  margin: 10px;
}

.completed {
  text-decoration: line-through;
}
